{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type='text/css' href="{% static 'main_pages/style.css' %}">
	<title>Cole's Website</title>
	

</head>

<body>

<header>
	<div class='navbar'>
		<nav>
			<ul>
				<a href="/">Home</a>
				<a href="/projects">Projects</a>
				<a href="/playground">Playground</a>

			</ul>
		</nav>
	</div>
</header>


{% block content %}
{% endblock content %}
<script type="text/javascript" src="{% static 'main_pages/main.js' %}"></script>
</body>
</html>

