<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="static\main_pages\style.css">
	<title>Cole's Website</title>
	

</head>

<body>
<script type="text/javascript" src="static\main_pages\main.js"></script>
<header>
	<div class='navbar'>
		<nav>
			<ul>
				<a href="">Home</a>
				<a href="">Home</a>
			</ul>
		</nav>
	</div>
</header>

	{% block content %}
	{% endblock content %}
</body>
</html>

